/** @module Loader.fixture.pcss
 *  @since 2020.12.24, 22:38
 *  @changed 2020.12.24, 22:38
 */

.Fixture_id_Loader {
  .LoaderDemoWrapper {
    float: left;
    display: inline-block;
    position: relative;
    $size: 200px;
    width: $size;
    height: $size;
    border: 1px dashed gray;
    background-image: url('./demo-bw-checks-10.gif');
  }
}
