.DS_Store
node_modules
\!UNUSED*
\!ARC*

# IDE
.idea
/.vscode/
*.session

# Builds
/build*
/dist*
/demo*
tags
.webpack-stats.json

# Temp project files
tags

# -- Ignore personal config files --
# .lvimrc
# .projectroot
webpack.env.local.js
