/** @module FormSelect.styles
 *  @since 2020.10.28, 22:49
 *  @changed 2020.10.29, 03:14
 */

.FormSelect {
  // height: $(formItemHeight)px;
  // line-height: $(formItemHeight)px;
  > .FormButton_fullWidth {
    width: 100%;
  }
}
