/** @module ModalWindow-Errors.styles
 *  @since 2020.12.29, 19:51
 *  @changed 2020.12.29, 19:51
 */

.ModalWindow {
  &-Error {
    color: $errorColor;
    // padding: 0 4px;
    margin-bottom: 20px;
    line-height: 1.2;
    &Item + &Item {
      margin-top: 10px;
    }
  }
}
