/** @module ModalWindow.fixture.styles
 *  @since 2020.12.21, 22:58
 *  @changed 2020.12.24, 02:43
 */

.ModalPortal {
  .ModalWindow-Window {
    // width: 400px;
    // width: 401px;
    // width: 70%;
    // height: 300px
  }
  .simpleContainer {
    max-width: 100%;
    overflow: hidden;
  }
}
