/** @module ModalPortal.styles
 *  @desc Basic modal layout styles
 *  @since 2020.12.21, 22:58
 *  @changed 2020.12.26, 21:31
 */

.ModalPortal {
  &, &-Wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
}
