/** @module FormSeparator.styles
 *  @class FormSeparator
 *  @since 2021.02.20, 13:40
 *  @changed 2021.02.20, 13:40
 */

.Fixture_id_FormSeparator {
  box-shadow: inset 0 0 1px green; // DEBUG
  .FormSeparator {
    box-shadow: inset 0 0 1px green; // DEBUG
  }
}
