/** @module FormContainer.pcss
 *  @class FormContainer
 *  @since 2021.02.20, 16:55
 *  @changed 2021.02.20, 16:56
 */

.FormContainer {

  position: relative;

  $hMargin: $(formItemSpacing)px;
  $vMargin: $(formItemSpacing)px;

  margin-left: $hMargin;
  margin-right: $hMargin;

}
