/** @module ErrorContainer.pcss
 *  @desc Displays error messages
 *  @since 2019.06.20, 13:11
 *  @changed 2021.04.09, 20:43
 */

.ErrorContainer {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: $errorColor;
  color: #fff;
  line-height: 1.2;
  & .Text {
    margin: 10px 0;
    &Line {
      margin: 10px 0;
    }
  }
}
