/** @module FormDelim.styles
 *  @class FormDelim
 *  @since 2020.11.27, 12:52
 *  @changed 2020.11.27, 12:52
 */

.FormDelim {
  height: 15px;
  border-top: 1px solid $neutralLightColor;
  margin-top: 15px;
}
