@define-mixin FormItemTextControlMixin {
  /* border-radius: $(formItemBorderRadius)px; */
  padding: 0 $(formItemInnerPaddingH)px;
  box-sizing: border-box;
  width: 100%;
  height: $(formItemInnerHeight)px;
  line-height: $(formItemInnerHeight)px;
  background: none;
  border: none;
  outline: 0;
  /* display: inline-block; */
  display: block;
  color: $formItemTextColor;
  overflow: hidden;
  &::placeholder {
    color: $formItemPlaceholderColor;
  }
  &:focus {
    outline: 0;
  }
  &:-ms-clear {
    display: none;
  }
}
