@define-mixin FormItemTextControlMixin {
  /* box-sizing: border-box; */
  /* border-radius: $(formItemBorderRadius)px; */
  padding: 0 $(formItemInnerPaddingH)px;
  width: 100%;
  height: $(formItemInnerHeight)px;
  line-height: $(formItemInnerHeight)px;
  background: none;
  border: none;
  outline: 0;
  display: inline-block;
  color: $formItemTextColor;
  &::placeholder {
    color: $formItemPlaceholderColor;
  }
  &:focus {
    outline: 0;
  }
  &:-ms-clear {
    display: none;
  }
}
