@define-mixin FormItemFramed {
  border-width: $(formItemBorderSize)px;
  border-style: solid;
  border-radius: @calc($formItemBorderRadius)px;
  border-color: $formItemBorderColor;
  /* border-color: transparent; */
}
