@define-mixin FormItemActorMixin {
  box-sizing: border-box;
  height: $(formItemHeight)px;
  width: $(formItemHeight)px;
  background: none;
  border: none;
  outline: 0;
  display: block;
  color: $formItemTextColor;
  &:focus {
    outline: 0;
  }
}
