@define-mixin FormItemMixin {
  /* display: block; */
  display: inline-block;
  box-sizing: border-box;
  &_solid {
    height: $(formItemHeight)px;
    line-height: $(formItemHeight)px;
    /* overflow: hidden; */
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* @mixin debug; */
}
