/** @module PopupsContainer.pcss
 *  @class PopupsContainer
 *  @since 2020.12.21, 23:37
 *  @changed 2020.12.21, 23:37
 */

.PopupsContainer {
  /*!KEEP*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  // // visibility: hidden;
}
