/** @module PopupsContainer.pcss
 *  @class PopupsContainer
 *  @since 2020.12.21, 23:37
 *  @changed 2020.12.24, 04:30
 */

.PopupsContainer {
  z-index: 500; // Lift ip to top-most level
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
