/** @module Menu.styles
 *  @since 2020.10.27, 02:58
 *  @changed 2020.10.27, 02:58
 */

.Menu {
  &:not(&_layout_horizontal) {
    max-width: 100%;
    padding: 8px 0;
    .MenuItem {
      display: block;
      &_fullWidth {
        width: 100%;
      }
    }
  }
}
