/** @module FormTextInput.fixture.pcss
 *  @since 2020.10.07, 00:20
 *  @changed 2020.10.29, 23:44
 */

.Fixture_id_FormTextInput {
  .FormTextInput {
    // border: 1px solid green;
    input {
      // border: 1px solid green;
    }
  }
}
