/** @module ModalsController.pcss
 *  @class ModalsController
 *  @since 2020.12.21, 23:37
 *  @changed 2020.12.24, 04:30
 */

.ModalsController {
  z-index: 300; // Lift ip to top-most level (but below footer which located at 300 z-level).
  position: $modalContainerPosition;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
