/** @module FormDateTime.styles
 *  @since 2021.01.23, 19:44
 *  @changed 2021.01.23, 19:44
 */

.FormDateTime {
  .react-datepicker {
    margin: 0;
    border: none;
    display: block;
    // NOTE: Use DateTimeSelector styles for tunings
  }
}
