/** @module FormSpacer.styles
 *  @class FormSpacer
 *  @since 2020.11.27, 12:52
 *  @changed 2021.07.26, 11:53
 */

.FormSpacer {
  height: 15px;
  &_size {
    &_sm { height: 10px; }
    &_xs { height: 5px; }
    &_lg { height: 20px; }
    &_xl { height: 25px; }
    &_xxl { height: 30px; }
  }
}
