/** @module demo-201005-popper.pcss
 *  @since 2020.05.19, 17:16
 *  @changed 2020.10.07, 00:11
 */

.demo {
  &-Before, &-After {
    display: block;
    border: 1px solid red;
    height: 800px;
  }
}
