/** @module MenuItemSeparator.fixture.pcss
 *  @since 2021.02.20, 14:33
 *  @changed 2021.02.20, 14:33
 */
.Fixture_id_MenuItemSeparator {
  .Menu {
    box-shadow: inset 0 0 1px blue;
  }
  // .MenuItemSeparator {
  //   box-shadow: inset 0 0 1px magenta;
  // }
  // .MenuItem {
  //   box-shadow: inset 0 0 1px orange;
  // }
}
