/** @module FormButtonGroup.styles
 *  @class FormButtonGroup
 *  @since 2020.10.21, 23:43
 *  @changed 2020.10.21, 23:43
 */

.FormButtonGroup {
  &_id_FormButtonGroupFixture {
    // box-shadow: inset 0 0 1px green; // DEBUG
  }
}
